body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(21, 21, 21, 1) 0%, #939393 100%);
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

header,
section,
footer {
    background-color: white;
    max-width: 900px;
    margin: 17px auto;
    padding: 20px 30px;
    -webkit-box-shadow: 0 7px 63px -12px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 0 7px 63px -12px rgba(0, 0, 0, 0.49);
    box-shadow: inset 0 7px 63px -12px rgba(212, 212, 212, 0.49);
}

h2 {
    color: #f4913f;
}

h3 {
    color: #ee683d;
}

/* Header */

header {
    padding: 10px;
    overflow: hidden;
}

.hidden-header {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#contact {
    color: #f4913f;
    font-weight: bold;
    margin-top: 8px;
    padding-right: 10px;
    overflow: hidden;
}

#contact p {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
}

/* Content */

section {
    overflow: hidden;
}

#profile-pic {
    border-radius: 50%;
    display: block;
    width: 200px;
    margin: 0 auto 10px auto;
}

#profile-overview {
    float: left;
    margin-top: 5px;
}

.city {
    color: gray;
    padding-top: 3px;
    padding-bottom: 5px;
}

#summary {
    line-height: 1.4;
}

#social-icons {
    margin-top: 10px;
}

.social-icon {
    width: 32px;
}

article {
    margin-top: 15px;
}

#education .description {
    line-height: 1.4;
}

li {
    list-style-position: inside;
    padding-bottom: 5px;
    text-indent: -1em;
    padding-left: 1em;
}

#skills li,
#interests li {
    list-style-type: none;
    text-indent: 0;
    padding: 5px 10px;
    display: inline-block;
    background-color: #ededed;
    margin-bottom: 3px;
}

#skills li:hover,
#interests li:hover {
    color: #ee683d;
}

#map {
    height: 350px;
}

.syntaxhighlighter .toolbar {
    display: none;
}

td.code {
    padding-left: 15px;
}

.syntaxhighlighter .gutter .line {
    padding-right: 10px;
    border-right: 3px solid #6ce26c;
}

@media (min-width: 770px) {
    #contact {
        float: right;
        text-align: right;
    }

    #contact p {
        display: block;
        float: right;
        width: 100%;
        padding-bottom: 6px;
    }

    #profile-pic {
        float: left;
        text-align: left;
    }

    #profile-overview {
        width: calc(100% - 200px);
        padding-left: 40px;
    }
}
